build/
build_release/
build_xp/
build_xp_probe/
build_release_win32/
build_xp_win32/
.vs/
*.user
*.VC.db
*.VC.opendb
*.suo
*.pdb
*.ilk
*.obj
*.lib
*.exp
*.dll
*.exe
*.c
shared_documentation/
decompilations/